---
import BuyList from '../components/BuyList';

// Define la lista de compras
const buyList = [
    'Controller',
    'Bread',
    'Water',
    'Notebook',
    'Math Book',
    'Choco Bar',
    'Milk'
];
---

<div>
    <BuyList items={buyList} />
</div>
